<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098155252766-susqifvr0qhk4mrrj2c8m2d4b4v7jb5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098155252766-susqifvr0qhk4mrrj2c8m2d4b4v7jb5i</string>
	<key>API_KEY</key>
	<string>AIzaSyB7kDuwxcoRABHKJmiZl70T2Z5IFf41KvY</string>
	<key>GCM_SENDER_ID</key>
	<string>1098155252766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seeds.helpin</string>
	<key>PROJECT_ID</key>
	<string>helpin-360318</string>
	<key>STORAGE_BUCKET</key>
	<string>helpin-360318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098155252766:ios:faedaf0ea545bc83a9a20f</string>
</dict>
</plist>